
      body {
        /* background-image: url(/images/bg.png); */
      }
      #maze {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        /*background-image: url(/images/maze.png);*/
        background-size: contain;
        background-repeat: no-repeat;

      
        background-image: url(/images/bg.png);
      
        padding: 0;
        border: 0;
      }
      #status {
        border: 1px solid red;
        position: absolute;
        height: 20px;
        left: 30px;
        right: 30px;
        bottom: 0;
        padding: 0;
      }
      .ball {
        position: absolute;
        left: -100px;
        top: -100px;
        background: url(/images/ball-bottom.png);
        background-size: cover;
        margin: 0;
        padding: 0;
      }

      body {
    background: #383838;
}

#ball {
    position: absolute;
    width: 81px;
    height: 81px;
}

#ball img {
    positiion: absolute;
}

#logo {
    width: 79px;
    height: 79px;
    background: url(http://f.cl.ly/items/3H1F3D2P1v3Y0H230M1B/ball-top.png);
    background-size: cover;
    opacity: 0.4;
    float: left;
}

#shadow {
    width: 81px;
    height: 81px;
    background: url(http://f.cl.ly/items/091u1T161d3N190f1C3A/ball-bottom.png);
    background-size: cover;
    opacity: 0.9;
    
}
​
